<!-- Banner -->
<div class="w-100 bg-1 ph5-ns ph3 text-light">
    
    <nav class="db dt-l w-100 mw8 center border-box pv3">
        <a class="db dtc-l v-mid link dim w-100 w-25-l tc tl-l mb2 mb0-l white" href="<%- config.root %>" title="<%- config.title %>">
            <img src="<%- theme.logo_image_source %>" class="dib h3" alt="<%- config.title %>">
        </a>
        <div class="db dtc-l v-mid w-100 w-75-l tc tr-l">
            <% for (var i in theme.menu) { %>
                <a class="link dim f6 f5-l dib mr3 mr4-l white" 
                    href="<%- url_for(theme.menu[i]) %>" 
                    title="<%= i %>">
                    <%= i %>
                </a>
            <% } %>
        </div>
    </nav>

    <!-- Title -->
    <div class="w-100 mw8 center vh-40 dt">
        <div class="dtc v-mid white">
            <h1 class="f1-l f2-m tc tc-m tl-ns"><%- mainText %></h1>
            <p class="f4 fw3 pab-100px tc tc-m tl-ns"><%- secondaryText %></p>
        </div>
    </div>

    <!-- Icon -->
    <div class="relative w-100 mw8 center white dn dn-m db-ns">
        <i class="header-icon fa <%- faIconCss %>"></i>
    </div>
</div>